*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh
 
}
h1{
  margin-bottom: 50px;
}

.menu{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: black;
  width: 100px;
  height: 100px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2)
}

span{
  position: absolute;
  width: 70px;
  height: 7px;
  background-color: white;
border-radius: 25px;
transition: 0.5s;
}

span:nth-child(1){
  transform: translate(15px,-25px);
  width: 50px;
}


span:nth-child(3){
  transform: translate(-10px, 25px);
  width: 50px;
}

.menu:hover span:nth-child(2){
  transform: rotateZ(45deg);
}
  
.menu:hover span:nth-child(1){
  transform: rotateZ(-45deg);
  width: 70px;
}
  
.menu:hover span:nth-child(3){
  transform: rotateZ(-45deg);
  width: 70px;
}
  
